.contacts {

    .contact_container {
        display: flex;
        justify-content: space-around;

        .contact_card.card {
            border: solid 4px var(--blue_1);
            background-color:rgba(0, 17, 60, 0.43);

            position: relative;

            img {
                margin: auto;

            }
            p {
                z-index: 10;
                display: block;
                position: absolute;
                top: 40px;
                color: var(--dark);
                text-align: center;
                font-size: 30px;
                visibility: hidden;
                left: 0;
                right: 0;
            }
            &:hover {
                background-color: var(--blue_1);
                opacity: 0.8;
                border: solid 4px var(--dark);
                img {
                    z-index: 1;
                    opacity: 0.4;
                    scale: 1.2;
                };
                p {
                    visibility: visible;
                }
            }
        }


    }
    .cool_title {
        margin-top: 50px;
    }
    .contacts_hor {
        .contact_card {
            width: 350px;
        }
    }
    .contacts_ver {
        .contact_card.card {
            height: 350px;
            width: 200px;
            
            img {
                margin-top: 155px;
            }
            &:first-of-type img{
                scale: 1.7;
            }
            p {
                top: 30%;
            }

        }
        .contact_container {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .newsletter {
        font-size: 1.3rem;

        position: relative;
        background-color: var(--blue_1);
        border-radius: 20px;
        border: solid 4px var(--dark);
        padding: 0 50px;
        color: var(--dark);
        height: 4000px;

        .cool_title{
            margin-bottom: 40px;
        }
        .small_fun {
            font-size: 0.4rem;
            color: var(--blue_1);
            text-shadow: (--dark) 0px 0px 30px;
            margin-bottom: 20px;
        }
        .form_newsletter form {
            display: flex;
            width: 100%;
              
            //   span::after {
            //     padding-left: 5px;
            //   }
              
            //   input:invalid + span::after {
            //     content: "✖";
            //   }
              
            //   input:valid + span::after {
            //     content: "✓";
            //   }



              .big_col {
                width: 68%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                

                fieldset {
                    display: flex;
                    flex-wrap: wrap;
                    background-color: rgba($color: var(--light), $alpha: 0.5);
                    border: solid 3px var(--blue_3);
                    border-radius: 20px;

                    font-size: 1rem;
                    padding : 10px 20px 20px 20px;
                    margin-bottom: 20px;

                    legend {
                        border: var(--blue_3) solid 1px;
                        border-radius: 10px;
                        padding: 0 10px;
                        font-size: 0.8rem;
                    }

                    div {
                        width: 50%;

                        input {
                            width: 90%;
                            border: solid 3px var(--dark);
                            border-radius: 10px;
                        }
                    }
                }
                .topic  {
                    display: grid;
                    grid-template-rows: auto auto auto;
                    grid-template-columns: 5% 95%;
                    grid-gap: 10px;

                    
                    /* Styling for the full-width row */
                    .row {
                        grid-column: 1 / -1;
                        display: flex;

                        font-size: 1.2rem;
                    }
                    
                    /* Styling for small columns */
                    input {
                        border-radius: 100%;
                    }
                    
                    /* Styling for large columns */
                    label {
    
                    }
                }
            }
            .small_col {
                width: 30%;
            }
        }
    }
}
