

.fakeCta {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 22px;
    color: var(--light);
    margin: 25px 0 30px 0;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 100%;
        height: 100%;
        border: solid 1px var(--light);
        border-radius: 8px;
        z-index: 1;
    }
        &::after{
        content: "";
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: 100%;
        height: 100%;
        border: solid 1px var(--light);
        border-radius: 8px;
        z-index: 1;
    }
    &:active span{
        color: var(--blue_5);
        cursor: e-resize;
        text-decoration: underline;
    }

    &:hover{
        transform: scale(1.1);
    }


}

.curriculum p {
    font-size: 20px;
    line-height: 1.6;
}
.cv_upper {
    display: flex;
    

    .cv_txt {
        width: 50%;
        text-align: center;
        margin: auto;
        
        .intro {
            font-size: 24px;
        }
    }


    .cv_img {
        position: relative;
        max-width: 400px;
        padding: 20px;
        pointer-events: auto;
        overflow: hidden;

        .cv_hover{
            position: absolute;
            bottom: 42px;
            right: 20px;
            opacity: 0;
        }
    }
    
    .cv_img:hover .cv_hover {
        transform: scale(1.25);
    }
}

.cv_lower {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .cv_box { 
        width: 30%;
        height: 100px;
        padding: 40px;

        background: rgb(42,82,190);
        background: var(--cv_cards_bg);
        &:hover{
            border-radius: 23px;
            background-color:  #172D67;
            border: 3px solid #DEF3FF;
            box-sizing: border-box; 
        } 
       
       h3 {
           display: block;
           text-align: center;
           text-transform: uppercase;
        }
    }

}

.cv_upper .cv_hover:hover {
    opacity: 1;
    transform: scale(1.25);
}

.themeBtn {
        border: solid 2px var(--light);
        border-radius: 8px;
        padding: 5px 20px;
        background-color: var(--blue_5);
        font-weight: bold;
        color: var(--light);
        margin-top: 20px;
    &:hover {
        background-color: var(--light);
        color: var(--blue_5);
        cursor: e-resize;
        transform: scale(1.1);
    }
}

.ikigai {
    .ikigaiTextWrapper {
        position: relative;
        border: solid 2px var(--dark);
        border-radius: 15px;
        background-color: var(--light);

    }
    .ikigaiCard {
        width: 100%;
        margin-bottom: 60px;
        display: flex;
        position: relative;
        
        div.coolTitle{
            margin: 30px 0 0 20px;
        }
        p.ikigaiText {
            padding: 30px 60px;
            font-size: 20px;
            line-height: 1.6;


        }
 
        .themeBtn {
            position: absolute;
            bottom: 20px;
            right: 20px;
            margin: 0;
        }
    }

    .ikigaiCard:nth-child(2) {
        > div:nth-child(1) {
            width: 70%;
        }
    }

    .ikigaiSide {
        width: 25%;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }
}


.mission {
    position: relative;
    z-index: 0;
    padding: 50px 0;

    //fullscree backgorund
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: -100vw;  
      right: -100px;

      background-color: var(--blue_5);
      z-index: -100;
    }

    p {
        font-size: 24px;
        line-height: 2;
        margin: 20px 5%;
        text-align: center;
        color: var(--light);
    }
}


.intro {
    font-size: 20px;
    line-height: 1.6;
    margin: 20px 30px;
}

.volunteerCards {
    .coolTitle h3{
        margin: 20px 0 10px 0;

        span {
            padding-bottom: 8px;
            padding-left: 50px;
        }
        &::after {
            right: 10%;
        }
    }
    .singleHalf{
        img {
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
            min-height: 200px;
            margin: 20px 0;
        }
    }
}

html {
    overflow-x: hidden;
}