.cv_upper {
    display: flex;
    margin-top: 40px;
    pointer-events: none;

    
    &:hover .cv_img img:last-of-type {
        transform: scale(1.2);
        opacity: 1;
    }

    .cv_txt {
        width: 50%;
        text-align: center;
        margin: auto;
        font-size: 22px;
        pointer-events: none;
        
        .fake_cta {
            border: solid 2px var(--light);
            border-radius: 5px;
            padding: 5px 20px;
            background-color: var(--blue_5);
            font-weight: bold;
            color: var(--light);
            pointer-events: auto;
        }
    }


    .cv_img {
        position: relative;
        max-width: 400px;
        padding: 20px;
        pointer-events: auto;

        img:last-of-type{
            position: absolute;
            bottom: 20px;
            right: 32px;
            opacity: 0;
        }
    }
}
.cv_lower {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .cv_box { 
        width: 30%;
        height: 100px;
        padding: 40px;

        background: rgb(42,82,190);
        background: var(--cv_cards_bg);
        &:hover{
            border-radius: 23px;
            background-color:  #172D67;
            border: 3px solid #DEF3FF;
            box-sizing: border-box; 
        } 
       
       h3 {
           display: block;
           text-align: center;
           text-transform: uppercase;
        }
       .cv_box_txt {
        //  display: none;
        position: absolute;
        bottom: -150px;
        left: 0;
        padding: 30px;
        border-radius: 23px;
        background-color:  #172D67;
        border: 3px solid #DEF3FF;
       }
    }

}
