.cv_upper {
    display: flex;
    margin-top: 40px;
    pointer-events: none;

    
    &:hover .cv_img .cv_hover {
        transform: scale(1.25);
        opacity: 1;
    }

    .cv_txt {
        width: 50%;
        text-align: center;
        margin: auto;
        font-size: 22px;
        pointer-events: none;
        
        .fake_cta {
            border: solid 2px var(--light);
            border-radius: 5px;
            padding: 5px 20px;
            background-color: var(--blue_5);
            font-weight: bold;
            color: var(--light);
            pointer-events: auto;
            margin-top: 20px;
        }
    }


    .cv_img {
        position: relative;
        max-width: 400px;
        padding: 20px;
        pointer-events: auto;

        .cv_hover{
            position: absolute;
            bottom: 42px;
            right: 20px;
            opacity: 0;
        }
    }
}
.cv_lower {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .cv_box { 
        width: 30%;
        height: 100px;
        padding: 40px;

        background: rgb(42,82,190);
        background: var(--cv_cards_bg);
        &:hover{
            border-radius: 23px;
            background-color:  #172D67;
            border: 3px solid #DEF3FF;
            box-sizing: border-box; 
        } 
       
       h3 {
           display: block;
           text-align: center;
           text-transform: uppercase;
        }
    }

}
p.PPFcontent, p.volontariato{
    // margin: 20px 50px;
    font-size: 16px;
    line-height: 1.5;
}
