

/*?HERO*/
.hero {
    position: relative;
    height: calc(100vh - 150px);
    overflow: hidden;
    margin-left: 200px;
  
    .hero_content {
      position: relative;
      margin-top: 160px;
      width:730px;
      
      h1 {
        font-size: 80px;
        text-transform: uppercase;
        line-height: 80px;
      }
      
      .icon {
        position: absolute;
        top: 12px;
        left: 540px;
      }
      h3 {
        text-align: right;
  
        &::before{
          content:"";
          display: inline-block;
          position:absolute;
          bottom:11px;
          left: 0px;
          width: 480px;
          height: 4px;
          background-color: white;
          color: black;
        }
      }
    }
    .bg_image{
      position: absolute;
      top: 20px;
      right: 60px;
      transform: scale(1.5);
    }
  }