@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: blue;
 /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  border: 1px solid red;
}
nav {
  position: fixed;
  top: 180px;
  left: 0px;
  width: 200px;
  height: 750px;
}
.main_content {
  height: 100%;
  margin-left: 250px;  
  border: 2px dotted  white;
}

/*?HEADER*/
.header{
  background-color: aliceblue;
  height: 140px;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  
  .logo {
    max-width: 350px;
    background-color: teal;
  }
  
  .modes {
    
  }
}
.languages img{
  display: inline;
  border: colors.dark solid 5px;
  border-radius: 100%;

}


/*?HERO*/
.hero {
  padding: 50px;
}