@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: blue;
 /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*
* {
  border: 1px solid red;
}
  */
nav {
  position: fixed;
  top: 180px;
  left: 0px;
  width: 200px;
  height: 750px;
}
.main_content {
  height: 100%;
  margin-left: 250px;  
  border: 2px dotted  white;
}

/*?HEADER*/
.header{
  background-color: aliceblue;
  height: 120px;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .logo {
    margin: 5px 0 10px 0;
    width: 50%;
    text-align: center;

    img {
      display: inline;
    }
  }

  .modes {
    color: #00113C;
    width: 25%;   
    text-align: center;
    margin: auto;
    
    span.MuiSwitch-root.MuiSwitch-sizeMedium.css-qfzxn8-MuiSwitch-root {
      rotate: 90deg;
      transform: scale(1.5);
      margin: auto;
    }
  }
}
.css-jsexje-MuiSwitch-thumb {
  box-shadow: none;
}
.css-qfzxn8-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked .MuiSwitch-thumb {
  position: absolute;
  background-color: transparent;
  width: 46px;
  height: 44px;
  top: -6px;
  left: -12px;
}
.css-qfzxn8-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked .MuiSwitch-thumb:before {
  background-image: url('../../public/media/header/mode-moon.avif');
  background-size: 33px;
  left: 12px;
}
.css-qfzxn8-MuiSwitch-root .MuiSwitch-thumb {
  position: absolute;
  background-color: transparent;
  width: 46px;
  height: 44px;
  top: -6px;
  left: -12px;
}
.css-qfzxn8-MuiSwitch-root .MuiSwitch-thumb::before {
  background-image: url('../../public/media/header/mode-sun.avif');
  background-size: 37px;
  background-color: transparent;
  border-radius: 100px;
}
.languages {
  margin: auto;  
  width: 25%;
  text-align: center;
  
  img{
    display: inline;
    /**dark*/
    border: #00113C solid 4px;
    border-radius: 100%; 
    margin: 5px;
  }
}


/*?HERO*/
.hero {
  padding: 50px;
}

/*?NAV*/
nav.main_nav{

  .nav_open{
    display: none;
  } 
  .nav_close{
    position: fixed;
    width: 250;
    left: -20px;
    border: solid yellow 5px;
    padding-left: 10px;
    border-radius: 30px;

    ul li button{
      position: relative;
      display: block;
      background-color: chartreuse;
      border-radius: 100px;
      border: solid 4px black;
      width: 80px;
      height: 80px;
      margin: 10px 20px;

      span {
        position: absolute;
        bottom: -25px;
        left: -10px;
        right: -10px;
        color: aliceblue;
      }
    }
  }

}