@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  background: rgb(42,82,190);
  background: linear-gradient(0deg, #2a52be 0%, #def3ff 85%);
  background: linear-gradient(#def3ff 20%, #2a52be 80%) fixed;

  


  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*
* {
  border: 1px solid red;
}
  */

.main_content {
  margin-left: 200px;  
}

/*?HEADER*/
.header{
  * {
    border: red 1px solid;
  }
  
  background-color: #DEF3FF;
  height: 120px;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: #00113C 2px solid;
  border-bottom: #00113C 2px solid;

  .logo {
    margin: 5px 0 10px 0;
    width: 50%;
    text-align: center;

    img {
      display: inline;
    }
  }

  .modes {
    color: #00113C;
    width: 25%;   
    text-align: center;
    margin: auto;
    
    span.MuiSwitch-root.MuiSwitch-sizeMedium.css-qfzxn8-MuiSwitch-root {
      rotate: 90deg;
      transform: scale(1.5);
      margin: auto;
    }
  }
  .languages {
    margin: auto;  
    width: 25%;
    text-align: center;
    
    .single_flag {
      width: fit-content;
      display: inline-block;
      margin: 5px;
      background-color: black;
      border-radius: 100px;
      
      img{
        border: #00113C solid 4px;
        border-radius: 100px;
        opacity: 0.5;
  
      }
    }
    .single_flag:hover img,
    img.active{
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

.css-jsexje-MuiSwitch-thumb {
  box-shadow: none;
}
.css-qfzxn8-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked .MuiSwitch-thumb {
  position: absolute;
  background-color: transparent;
  width: 46px;
  height: 44px;
  top: -6px;
  left: -12px;
}
.css-qfzxn8-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked .MuiSwitch-thumb:before {
  background-image: url('../../public/media/header/mode-moon.avif');
  background-size: 33px;
  left: 12px;
}
.css-qfzxn8-MuiSwitch-root .MuiSwitch-thumb {
  position: absolute;
  background-color: transparent;
  width: 46px;
  height: 44px;
  top: -6px;
  left: -12px;
}
.css-qfzxn8-MuiSwitch-root .MuiSwitch-thumb::before {
  background-image: url('../../public/media/header/mode-sun.avif');
  background-size: 37px;
  background-color: transparent;
  border-radius: 100px;
}





/*?NAV*/
nav {
  position: fixed;
  top: 140px;
  left: 0px;
  width: 200px;
  height: 750px;
  margin-top: 40px;
}
nav.main_nav{

  .nav_open{
    display: none;
  } 

  .nav_close{
    position: fixed;
    width: 180px;
    left: -25px;
    border: solid #00113C 5px;
    padding: 0px 10px 10px 35px;
    border-radius: 30px;

    ul li {
      margin: 15px;
      
      &#curriculum button{
        background-color: #172D67;
      }      
      &#projects button{
        background-color: #396CF7;
      }      
      &#about button{
        background-color: #87A7FF;
      }      
      &#contacts button{
        background-color: #CCDAFE;
      }

      button{
        position: relative;
        display: block;
        background-color: chartreuse;
        border-radius: 100px;
        border: solid 4px #00113C;
        width: 70px;
        height: 70px;
        margin: 20px 10px 30px 10px;
        
        span {
          position: absolute;
          bottom: -35px;
          left: -35px;
          right: -35px;
          text-align:center;
          color: white;
          font-size: 17px;
        } 
      }
    }
    ul li:nth-child(3) {
      margin-top: 60px;
    }
    .arrow{
      position: absolute;
      top:45%;
      right: -38px;
      background-color: #1749d1;
      border-radius: 100%;
      width: 70px;


      button {
        padding: 2px 1px 0px 1px;
        margin: 0;
      }
    }
  }

}


/*?HERO*/
.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;

  .hero_content {
    position: relative;
    margin-top: 160px;
    margin-left: 70px;
    width:730px;
    
    h1 {
      font-size: 80px;
      text-transform: uppercase;
      line-height: 80px;
    }
    
    .icon {
      position: absolute;
      top: 12px;
      left: 540px;
    }
    h3 {
      text-align: right;

      &::before{
        content:"";
        display: inline-block;
        position:absolute;
        bottom:11px;
        left: 0px;
        width: 480px;
        height: 4px;
        background-color: white;
        color: black;
      }
    }
  }
  .bg_image{
    position: absolute;
    top: 20px;
    right: 40px;
    transform: scale(1.5);
  }
}

/*?FOOTER*/
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #def3ff;
  color: #00113C;
  display: flex;
  justify-content: space-evenly ;
}

/*?FONTS*/
html {
  font-family: var(--font-inter);
}
 
h1 {
  font-family: var(--font-roboto-mono);
}

