.card {
    border: solid 4px var(--blue_3);
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin: 15px auto;
    max-width: 1000px;



    .cardContent {
        display: flex;
        flex-direction: row;
    }

    .cardText {
        flex: 1;
        margin-right: 20px;
    }
    .cardImage {
        position: relative;
        width: 250px;
        height: 180px;
        background-color: var(--blue_3);
        border-radius: 10px;    
    }
}
.cardHalfContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.halfCard {
    border: solid 2px var(--blue_3);
    border-radius: 20px;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .cardContent {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }
    .cardText {
        margin-right: 0;
    }
    .cardImage {
        width: 250px;
        height: 180px;
        background-color: var(--blue_3);
        border-radius: 10px;   
        margin: 10px auto; 
    }
}

.volunteerCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    h3.halfCardTitle {
        text-align: center;
        font-size: 28px;
        margin-bottom: 10px;
    }

} 