/*?HEADER*/
.header{    
    background-color: #DEF3FF;
    height: 120px;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: #00113C 2px solid;
    border-bottom: #00113C 2px solid;
  
    .logo {
      margin: 5px 0 10px 0;
      width: 50%;
      text-align: center;
  
      img {
        display: inline;
      }
    }
  
    .modes {
      color: #00113C;
      width: 25%;   
      text-align: center;
      margin: auto;
      
      span.MuiSwitch-root.MuiSwitch-sizeMedium.css-qfzxn8-MuiSwitch-root {
        rotate: 90deg;
        transform: scale(1.5);
        margin: auto;
      }
      .css-jsexje-MuiSwitch-thumb {
        box-shadow: none;
      }
      .css-qfzxn8-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked .MuiSwitch-thumb {
        position: absolute;
        background-color: transparent;
        width: 46px;
        height: 44px;
        top: -6px;
        left: -12px;
      }
      .css-qfzxn8-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked .MuiSwitch-thumb:before {
        background-image: url('../../../public/media/header/mode-moon.avif');
        background-size: 33px;
        left: 12px;
      }
      .css-qfzxn8-MuiSwitch-root .MuiSwitch-thumb {
        position: absolute;
        background-color: transparent;
        width: 46px;
        height: 44px;
        top: -6px;
        left: -12px;
      }
      .css-qfzxn8-MuiSwitch-root .MuiSwitch-thumb::before {
        background-image: url('../../../public/media/header/mode-sun.avif');
        background-size: 37px;
        background-color: transparent;
        border-radius: 100px;
      }
    }

    .languages {
        margin: auto;  
        width: 25%;
        text-align: center;
    
        .single_flag {
            width: fit-content;
            display: inline-block;
            margin: 5px;
            background-color: black;
            border-radius: 100px;
            img{
                border: #00113C solid 4px;
                border-radius: 100px;
                opacity: 0.5;
            }
        }

        .single_flag:hover img,
        img.active{
            opacity: 1;
            transform: scale(1.2);
        }
    }
  }

  
  
/*

 
}
*/