.pronunciation {
  all: unset;
  cursor: pointer;

  border: solid 2px var(--light);
  border-radius: 8px;

  padding: 10px;

  position: absolute;
  top: 6px;
  right: 17%;

  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
    border-color: var(--blue_3);
    border-width: 3px;
    background-color: rgb(255, 255, 255);
  }

  &:active {
    transform: scale(0.95);
  }
}

.pronunciation {
  // Top-right square
  &::before {
    content: '';
    position: absolute;

    width: 60px;
    height: 60px;

    border: solid 2px var(--blue_4);
    border-radius: 8px;

    top: 0;
    left: 0;

    transform: translate(0, 0);
    transition: transform 0.4s ease;
    z-index: -1;
  }

  // Bottom-left square
  &::after {
    content: '';
    position: absolute;

    width: 60px;
    height: 60px;

    border: solid 2px var(--blue_2);
    border-radius: 8px;

    top: 0;
    left: 0;

    transform: translate(0, 0);
    transition: transform 0.4s ease;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: translate(15px, -15px);
    }

    &::after {
      transform: translate(-15px, 15px);
    }
  }
}